h1 {color: white;}
h2 {color: white;}
h3 {color: white;}
h4 {color: white;}

h1 {text-align: left;}
h2 {text-align: left;}
h3 {text-align: left;}
h4 {border-color: white;}

body {background-color: black}
h1 {font-size: 90%;}
h2 {font-size: 90%;}
h3 {font-size: 90%;}